[Unit]
Description=BubbleUPnP Server
Requires=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
User=bubbleupnp
Group=bubbleupnp
Restart=on-failure
ExecStart=/opt/bubbleupnp/bubbleupnp -disableAutoUpdate -dataDir /var/opt/bubbleupnp -httpPort 58050 -httpsPort 58051 -ffmpegDir /opt/bubbleupnp/ffmpeg
StandardOutput=syslog+console
SyslogIdentifier=bubbleupnp

[Install]
WantedBy=multi-user.target
